{{template "header"}}
<title>FeedAll</title>
</head>

<body>
    <header>
    </header>
    <div class="section blue" id="index-banner">
        <div class="container col s12 m8">
            <h1 class="header center">FeedAll</h1>
            <div class="row center">
                <h4 class="header col s12 light center">A website to help you getting things fed.</h4>
            </div>
            <div class="row center" id="welcome-button">
                <a href="/user/login" class="btn-large blue lighten-1 waves-effect waves-light">Get Started</a>
                <a id="or" class="white-text"> OR </a>
                <a href="/test" class="btn-large blue lighten-1 waves-effect waves-light">Try it</a>
            </div>
        </div>
</body>

</html>
